body
{
	font-family: 'Droid Serif', serif;
	color: white;
	background-color: #383a3d;

}
.heading
{
	font-family: 'Droid Serif', serif;
	color: #383a3d;
	background-color: white;

}


a:link
{
	color: white;
}
a:visited
{
	color: white;
}
a:hover
{
	color: #085EF0;
}



